*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
	scroll-behavior: smooth;
    outline: none;
    border: none;
    font-family: Arial, 'Nova Square', sans-serif;;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background: #c0c0c0;

}

/** header
==========================================================**/
header{
	position: fixed;
	width: 100%;
}
.nav1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	background-color: transparent;
	font-size: 13px;
	padding: 0 15px;
}

.first{
	display: flex;
	gap: 20px;
}
.cont{
	color: #e0ddec;
}

.second{
	display: flex;
	gap: 20px;
}
.l{
	color: #e0ddec;
}
.l:hover{
	color: white;
}

.third{
	display: flex;
	gap: 20px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	margin-top: 1px;
	background-color: transparent;
}
.nav2 .ab{
	margin-left: 1.5rem;
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	transition: all .5s;
}
.ab:hover{
	background-color: #03f1c5;
	color: white;
}
.ab::before{
	content: "";
	position: absolute;
	bottom: 12px;
	left: 12px;
	height: 12px;
	width: 12px;
	border-left: 2px solid #03f1c5;
	border-bottom: 2px solid  #03f1c5;
	border-width: 2px 2px;
	opacity: 0;
	transition: all 0.3s;
}
.ab::after{
	content: "";
	position: absolute;
	top: 12px;
	right: 12px;
	height: 12px;
	width: 12px;
	border-top: 2px solid #03f1c5;
	border-right: 2px solid #03f1c5;
	border-width: 2px 2px 0;
	opacity: 0;
	transition: all 0.3s;
}
.ab:hover::before{
	opacity: 1;
	bottom: -5px;
	left: -5px;
}
.ab:hover::after{
	opacity: 1;
	top: -5px;
	right: -5px;
}

.icon{
	font-size: 24px;
	margin-left: 20px;
	
}

/**Primary Page Layout
================================================== **/	
#slideshow-container {
	max-width: 100%;
  }
  .mySlides {
	display: none;
	text-align: center;
  }
  .mySlides img {
	width: 100%;
	height: auto;
  }
  .prev, .next {
	cursor: pointer;
	position: relative;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  .next {
	position: absolute;
	top: 50%;
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  .prev {
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  .text {
	color: #f2f2f2;
	font-size: 40px;
	padding: 8px 12px;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
  }

  @media (max-width: 600px) {
	.mySlides h2, .mySlides p, .mySlides a {
	  font-size: 40px;
	}
  }
  