*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
	scroll-behavior: smooth;
    outline: none;
    border: none;
    font-family: 'Nova Square', sans-serif;;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background: #c0c0c0;
}

/** header
==========================================================**/
header{
	position: fixed;
	width: 100%;
}
.nav1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	background-color: transparent;
	font-size: 13px;
	padding: 0 15px;
}

.first{
	display: flex;
	gap: 20px;
}
.cont{
	color: #e0ddec;
}

.second{
	display: flex;
	gap: 20px;
}
.l{
	color: #e0ddec;
}
.l:hover{
	color: white;
}

.third{
	display: flex;
	gap: 20px;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	margin-top: 1px;
	background-color: transparent;
}
.nav2 .ab{
	margin-left: 1.5rem;
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	transition: all .5s;
}
.ab:hover{
	background-color: #03f1c5;
	color: white;
}
.ab::before{
	content: "";
	position: absolute;
	bottom: 12px;
	left: 12px;
	height: 12px;
	width: 12px;
	border-left: 2px solid #03f1c5;
	border-bottom: 2px solid  #03f1c5;
	border-width: 2px 2px;
	opacity: 0;
	transition: all 0.3s;
}
.ab::after{
	content: "";
	position: absolute;
	top: 12px;
	right: 12px;
	height: 12px;
	width: 12px;
	border-top: 2px solid #03f1c5;
	border-right: 2px solid #03f1c5;
	border-width: 2px 2px 0;
	opacity: 0;
	transition: all 0.3s;
}
.ab:hover::before{
	opacity: 1;
	bottom: -5px;
	left: -5px;
}
.ab:hover::after{
	opacity: 1;
	top: -5px;
	right: -5px;
}

.icon{
	font-size: 24px;
	margin-left: 20px;
	
}


.lion, .tiger, .dog {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;

}

.lion1{
    background: url(img/hero-11.jpg);
	background-size: cover;
	height: 100vh;
}
.lion2{
	background: url(img/hero-12.jpg);
	background-size: cover;
	height: 100vh;
}
.lion3{
	background: url(img/hero-13.jpg);
	background-size: cover;
	height: 100vh;
}


.mantext {
	font-size: 20px;
}